Flask>=1.0,<=1.1.2
azure-storage-blob==2.1.0
numpy>=1.16.5
pandas==1.1.0
pyodbc==4.0.30
redis==3.5.3
pymongo==3.11.4
gunicorn==19.7.1
prometheus-client
ibmcloudenv
livereload
Flask-WTF
flask-uploads
tinydb
flask-bootstrap
flask-nav
werkzeug==0.16.1
sqlalchemy
