<html>
<head>
   <style>
body {
  background-color: hsl(89, 43%, 51%);
}
</style>
<style>
   #SearchBar{
             margin-left: 10%;
             width: 6%;
            }
            #labels{
                margin-left: 19%;
            }
</style>
</head>
<body>
   <div>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Quiz 4</h2>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Archana Turaga, ID: 1001859014</h2>
<h2 style="background-color:LightGray;font-family:tahoma;text-align: center;">Cloud Computing (ADB)</h2>
   </div>
   
<div>
<p>
    <form action="/five" method="POST", method="GET">
       <h3> Enter latitude ranage</h3>
        <input type="text" name="lat1" placeholder="enter lat from"><br>
        <input type="text" name="lat2" placeholder="Enter lat to"><br>
       <input type="submit" id="button" name="Submit" value="Submit"/>
    </form>
</p>
   </div>   
   <div>
<p>
    <form action="/six" method="POST", method="GET">
       <h3> Enter country name</h3>
        <input type="text" name="country" placeholder="enter country"><br>
    </form>
</p>
   </div>   
<div>
<p>
    <form action="/seven" method="POST", method="GET">
       <h3> Enter volcano number range</h3>
        <input type="text" name="num1" placeholder="enter num from"><br>
        <input type="text" name="num2" placeholder="Enter num to"><br>
       <input type="submit" id="button" name="Submit" value="Submit"/>
    </form>
</p>
   </div>   
 </body>
 </html>
